
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
<style>
.social-media-list li {
    min-width: 0px;
    min-height: 0px;
    margin: 0;
}
.social-media-list li a {
    display: inline;
    padding: 5px;
    border: none;
}
</style>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="ArchiDEV" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="google-site-verification" content="Uepc9XQTuNAjpetRceBRZlIUwg5WNzErfqtSyZEBG1U" />
<meta name="yandex-verification" content="a7c4dd6dd4395763" />